<<<<<<< HEAD
.background-container {
    position: relative;
    background-image: url('https://i.imgur.com/fvDcFdA.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50vh;
    height: 30vh;
    margin: calc(50vh - 20vh) auto;
    padding: 0.8rem;
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
    font-family: Arvo, serif;
    font-weight: bold;
}

h2 {
    font-size: 3.5vh;
    margin-bottom: 1vh;
    text-align: center;
=======
.loginWrapper {
  background: image-url(
    "https://www.veranda.com/travel/g36674338/beautiful-mountains/"
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 45vh;
  margin: calc(50vh - 200px) auto;
  padding: 20px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  font-family: Arvo, serif;
  font-weight: bold;
}

h2 {
  font-size: 5vh;
  text-align: center;
>>>>>>> refs/remotes/origin/producao
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
<<<<<<< HEAD
    width: 110%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-transform: none;
}

.buttonEntrar {
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arvo, serif;
    cursor: pointer;
    width: 110%;
    padding: 10px;
    background-color: #dfa32e;
    color: white;
    border: none;
    border-radius: 5px;
=======
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-transform: none;
}

.buttonEntrar {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arvo, serif;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  background-color: #dfa32e;
  color: white;
  border: none;
  border-radius: 5px;
>>>>>>> refs/remotes/origin/producao
}
.buttonEntrar:hover {
  background-color: #f0c14b;
  transition: background-color 0.3s ease-in-out;
}

<<<<<<< HEAD
.divCadastro{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: left;
    font-size: 1.5vh;    
}
.divCadastro .buttonCadastro{
    font-size: 1.4vh;
    text-transform: uppercase;
    font-family: Arvo, serif;
    cursor: pointer;
    align-items: right;
    padding: 0.5vh;
    border: 1px solid #dfa32e;
    border-radius: 5px;
=======
.divCadastro {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  font-size: 1.5vh;
}
.divCadastro .buttonCadastro {
  font-size: 1.7vh;
  text-transform: uppercase;
  font-family: Arvo, serif;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  border: none;
  background: none;
  border-radius: 5px;
>>>>>>> refs/remotes/origin/producao
}
.divCadastro .buttonCadastro:hover {
  color: #dfa32e;
  transition: color 0.3s ease-in-out;
}

.divCadastro .buttonCadastro::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: #dfa32e;
  transition: width 0.3s ease-in-out;
}

.divCadastro .buttonCadastro:hover {
  color: #dfa32e;
  padding-bottom: 2px solid #dfa32e;
  transition: color 0.3s ease-in-out, text-bottom 0.1s ease-in-out;
}
.divCadastro .buttonCadastro:hover::after {
  width: 100%;
}
<<<<<<< HEAD
  .divCadastro .buttonCadastro:hover::after {
    width: 110%;
  }
=======
>>>>>>> refs/remotes/origin/producao
