.corpo{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: blanchedalmond;
    border: black solid 2px;
    padding: 10px;
    
    
    
}

.corpo2{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
}
.foto{
    width: 150px;
    background-color: aquamarine;
    
}