:root {
    --primary-color: #dfa32e;
    --secondary-color: #ffffff;
    --background-color: #333333;
  }
  
.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
  }
  
  .footer p {
    margin: 0;
  }