header {
  background-color: #1f1e1e;
  display: flex;
  height: 11vh;
  font-family: Arvo, serif;
}

.logo {
  width: 140px;
  height: 80px;
  margin-right: 90px;
  cursor: pointer;
}

.containerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.containerHeader ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.containerHeader li {
  list-style: none;
}

.containerHeader .link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 17px;
  background: none;
  border: none;
  font-family: Arvo, serif;
}
.containerHeader .link::after {
  content: '';
  width: 0;
  height: 2px;
  display: block;
  background: #dfa32e;
  transition: width 0.3s ease-in-out;
}

.containerHeader .link:hover {
  color: #dfa32e;
  padding-bottom: 2px solid #dfa32e;
  transition: color 0.3s ease-in-out, text-bottom 0.1s ease-in-out;
}
.containerHeader .link:hover::after {
  width: 100%;
}

.containerNav {
  gap: 30px;
}

.icon {
  color: white;
  margin-right: 1vh;
  font-size: 2.2vh;
  transition: color 0.3s ease-in-out;
  margin-right: 2vh;
}

.icon:hover {
  color: #dfa32e;
  cursor: pointer;
  position: relative;
}

.icon:hover::after {
  content: "Acompanhe nossas redes!";
  font-family: Arvo, serif;
  position: absolute;
  top: -35px;
  left: 39%;
  width: max-content;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}