.corpo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.boxproduto {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.conteinerCarrinho {
  display: none;
  flex-direction: column;
  text-align: center;
  background-color: #1f1e1e;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  width: 90%;
  height: 100vh;
  z-index: 1000;
  left: 5%;
}
.carrinho {
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  color: white;
}

.iconCar {
  font-size: 24px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 150px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
h2 {
  text-align: center;
  color: #dfa32e;
}

.button {
  background-color: #dfa32e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #b88f24;
}
