.corpo {
    background-color:#1f1e1e;
    display: flex;
    flex-direction: column-reverse;
}           
.boxproduto{
    display: flex;
    margin: 10px;
    border: white solid 3px;
   
    text-align: center;
    align-items: center;
    justify-content: center;
}
.conteinerCarrinho{
    display: none;
    margin: 10px;
    border:white solid 3px;
}
.iconCar{
    cursor: pointer;
}
.input{
    align-items: center;
    display: flex;
    flex-direction: column;
}