.corpo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.boxproduto {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boxbebida {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: auto;
}

.box {
  margin: 10px;
  width: 80%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.conteinerCarrinho {
  display: none;
  flex-direction: column;
  text-align: center;
  background-color: #1f1e1ea9;
  border-radius: 10px;
  padding: 30px;
  position: absolute;
  width: 90%;
  z-index: 1000;
  left: 5%;
}

.carrinho {
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  color: white;
}

.fechar {
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0.548);
  width: 25px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 50%;
}

.iconCar {
  font-size: 24px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
h2 {
  text-align: center;
  color: #dfa32e;
}

.button {
  background-color: #dfa32e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #b88f24;
}

@media (max-width: 900px) {
  .boxbebida {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .boxbebida {
    grid-template-columns: repeat(1, 1fr);
  }
}
