.termos-de-uso {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    text-align: justify;
  }
  
  h1 {
    font-size: 1.7em;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  @media (max-width: 600px) {
    .termos-de-uso {
      padding: 15px;
    }
  
    h1 {
      font-size: 1.5em;
    }
  
    h3 {
      font-size: 1em;
    }
  }
  