.input {
    display: block;
    flex-direction: column;
    text-transform: uppercase;
    font-family: Arvo, serif;
    align-items: center;
    width: 100%;
    margin-bottom: 3vh;
    padding: 2vh;
    box-sizing: border-box;
}