.input {
    
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    
}

.label {
    font-size: medium;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    padding-left: 10px;

}

.conteinerInput {
    margin: 10px;
    display: inline-flex;
    flex-direction: column;

}
