.bnt{
    font-family: Arvo, serif;
    text-transform: uppercase;
    font-family: Arvo, serif;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #dfa32e;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #f0c14b;
    transition: background-color 0.3s ease-in-out;;
}